/* Styling added to body content */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 60px;
}

/* Reducing width of container */
.container {
  width: 75%;
}

/* Styling added to header / jumbpotron */
.jumbotron {
  text-align: center;
  background: #3A1C71;
  background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  color: white;
  font-weight: bold;
  border-radius: 0;
  border-bottom: 10px solid rgba(245, 245, 245, 0.932);
}

/* Styling added to both paragraph elements in header */
.lead {
  font-size: 22px;
}

/* Styling added to past timeslots */
.past {
  background-color: #d3d3d3;
  color: white;
}

/* Styling added to current timeslots */
.present {
  background-color: #824173;
  color: white;
}

/* Styling added to future timeslots */
.future {
  background-color: #e38078;
  color: white;
}